<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>Create Message</title>
	</head>

	<body>
		<h1>Create Message</h1>
		<form method="post">
        	<br>
		    <label>
		        Username 
		        <input type="text" name="username" value={{username}}><font color="red">{{error_username}}</font>
		    </label>

		    <br>
		    <label>
		        Subject
		        <input type="subject" name="subject"><font color="red">{{error_body}}</font>
		    </label>

		    <br>
		    <label>
		        Body 
		        <input type="body" name="body"><font color="red">{{error_body}}</font>
		    </label>

		    <br><br>
		    <input type="submit">
		</form>
	</body>
</html>