<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/messaging.css" />
		<title>Messages</title>
	</head>

	<body>
		<div name = "create">
		<h1>Create Message</h1>
		<form method="post">
        	<br>
		    <label>
		        Username 
		        <input type="text" name="username" value={{username}}><font color="red">{{error_username}}</font>
		    </label>

		    <br>
		    <label>
		        Subject
		        <input type="text" name="subject"><font color="red">{{error_subject}}</font>
		    </label>

		    <br>
		    <label>
		        Body 
		        <input type="text" name="body"><font color="red">{{error_body}}</font>
		    </label>

		    <br><br>
		    <input type="Submit">
		</form>
		</div>
		<div name = "check">
			<h1>Messages</h1>
			<div>Message 1</div>
			<div>Message 2</div>
			<div>Message 3</div>
			<div>Message 4</div>
		</div>
	</body>
</html>