<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>Medical Chart</title>
	</head>

	<body>
		<h1>Medical Chart</h1>
		<form method="post">
        	<br>
		    <label>
		        Patient Username
		        <input type="text" name="username">
		    </label>

        	<br>
		    <label>
		        Height
		        <input type="text" name="height">
		    </label>

		    <br>
		    <label>
		        Weight
		        <input type="text" name="weight">
		    </label>

		    <br>
		    <label>
		        Blood Pressure
		        <input type="text" name="blood pressure">
		    </label>

		    <br>
		    <label>
		        Diagnosis
		        <input type="text" name="diagnosis">
		    </label>

		    <br>
		    <label>
		        Notes
		        <input type="text" name="notes">
		    </label>

		    <br><br>
		    <input type="Submit" name="Save">
		</form>
	</body>
</html>