<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>View Schedule</title>
	</head>

	<body> 
		<h1>View Schedule</h1>
		<hr><br>
		<form method="post">
    <table border="2" style="width: 100%">
        <tr>
            <td class="row-data">Username</td>
            <td class="row-data">Date</td>
            <td class="row-data">Time</td>
            <td class="row-data">Reason for Visit</td>
        </tr>
        {% for a in appointments %}
          <tr>
            <td class="row-data">{{a.user_name}}</td>
            <td class="row-data">{{a.date}}</td>
            <td class="row-data">{{a.time}}</td>
            <td class="row-data">{{a.reason_for_visit}}</td>
        </tr>
        {% endfor %}
    </table>
<br><br><br>
<a class="login-link" href="/welcome">Back</a>
		</form>
	</body>
</html>