<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>View Message</title>
	</head>

	<body>
		<h1>View Message</h1>
		<hr>
		<form method="post">
        	<select name="messagelist" onclick="post()" size=len(messages)>
        	{% for m in messages %}
        	    <option value={{ i }}>From:{{ m.sender }} | Subject:{{ m.subject }}</option>
        	    {% set i = i + 1 %}
        	{% endfor %}
        	</select>
        	<br>
        	<input type="submit">
		</form>

		{% if selectedmessage != None %}
			

		<h1>From:{{ messages[selectedIndex].sender }} | Subject:{{ messages[selectedIndex].subject }}</h1>
		<p>
			{{ messages[selectedIndex].message }}
		</p>
		{% endif %}
	</body>
</html>