html {
	height: 100%;
}
body {
	position:  relative;
	height:  100%;
	font-family: sans-serif;
	font size:  14px;
	width:  800px;
	margin:  0 auto;
	padding:  10px;

	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}	

.error {
	color:  red;
}

label {
	display:  block;
	font-size:  20px;
}

input[type=text] {
	width:  400px;
	font-size:  20px;
	padding:  2px;
}

textarea {
	width:  400px;
	height:  200px;
	font-size:  17px;
	font-family:  monospace;
}

input[type=submit] {
	font-size:  24px;
}

hr {
	margin: 20px auto;
}


.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}
.link-style {
	color:  darkslategray;
	text-decoration:  none;
}
.main-edit {
	position: absolute;
	top: 45px;
	right: 0;
	bottom:  10px;
	left: 0;
}
.main-edit textarea {
	position:  absolute;
	top:  0;
	bottom:  30px;
	left:  0;
	right:  0;
	font-size:  14px;
}
.main-title{
    display:block;
    color:#222;
    font-size:40px;
    font-weight:bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration:none;
}
